form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .link-group {
    display: flex;
    gap: 10px;
  }
  
  .link-group input {
    flex: 1;
  }
  
  button {
    background-color: darkred;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #8b0000;
  }
  
  .error-message {
    color: #ff6347;
    font-size: 14px;
    margin-top: -8px;
    margin-bottom: 16px;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .userData {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .user-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;

  }
  /* .main-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
  } */